<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="POST" action="/:id?_method=PUT">
		Id: <input type="text" name="id" value={{id}}>
		Name: <input type="" name="name" value={{name}}>
		Img: <input type="" name="img" value={{img}}>
		Height: <input type="" name="height" value={{height}}>
		Weight: <input type="" name="weight" value={{weight}}>
		<input type="submit" value="Update">
	</form>
</body>
</html>