<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokemon</title>
</head>
<body>
  <form method="post" action="/id?_method=Delete">
    <input type="text" name="pokeDelete">
    <input type="submit" value="Delete">
  </form>
  <ul class="pokemon-list">
    <li class="pokemon-attribute">
      id: {{this.id}}
    </li>
    <li class="pokemon-attribute">
      num: {{this.num}}
    </li>
    <li class="pokemon-attribute">
      name: {{this.name}}
    </li>
    <li class="pokemon-attribute">
      img: {{this.img}}
    </li>
    <li class="pokemon-attribute">
      height: {{this.height}}
    </li>
    <li class="pokemon-attribute">
      weight: {{this.weight}}
    </li>
  </ul>


</body>
</html>
